a.toplevel_page_avuti-settings .wp-menu-image img {
    padding: 3px 0 0 !important;
    opacity: 1 !important;
    width: 28px;
    margin-right: 5px !important;
}
a.toplevel_page_avuti-settings {
    text-align: center;
    background: #000 !important;
}
